<div class="col-xs-3">
 <label>          <span class="fa fa-users"></span> Users
</label>
  <ul class="chat">
    <li ng-repeat="user in users| filter:{provider: 'twitter'}" class="center clearfix"> 
     <a href="#" ng-click="initiatePrivateChat({handle: user.twitter.screen_name})">
      <img ng-src="{{user.twitter.profile_image_url}}" alt="User Avatar" class="img-circle" />
      {{user.twitter.screen_name}}
      </a>
    </li>
  </ul>
</div>
<div class="col-xs-9">
  <div class="row main-chat">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading" id="accordion">
          <span class="glyphicon glyphicon-comment"></span> Main Room
          <div class="btn-group pull-right">
            <a type="button" class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </div>
        </div>
        <div class="panel-collapse collapse" collapse="isCollapsed">
          <div class="panel-body" scroll-if>
            <ul class="chat" >
              <li ng-repeat="message in mainRoom | filter:{ to: 'main' }" scroll-item class="left clearfix"><span class="chat-img pull-left">
                <a href="#" ng-click="initiatePrivateChat(message.from)">
                  <img ng-src="{{message.from.img}}" alt="User Avatar" class="img-circle" />
                </a>
                </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">{{message.from.name}}({{"@"+message.from.handle}})</strong> <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{message.created| date:"MM/dd/yyyy 'at' h:mma"}}</small>
                  </div>
                  <p>
                    {{message.body}}
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="panel-footer chat-footer">
            <form class="thing-form">
              <p class="input-group">
                <input type="text" class="form-control" placeholder="Type your message here..." ng-model="newMessage">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-success" ng-click="send()">Send</button>
                </span>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div ng-repeat="room in privateRooms" class="row private-chat">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading" id="accordion">
          <span class="glyphicon glyphicon-comment"></span> Private chat with {{"@"+room.with.handle}}
          <div class="btn-group pull-right">
            <a type="button" class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </div>
        </div>
        <div class="panel-collapse collapse" collapse="isCollapsed">
          <div class="panel-body" scroll-if>
            <ul class="chat" >
              <li ng-repeat="message in privateMessages| matchRoom:room.with" scroll-item class="left clearfix"><span class="chat-img pull-left">
                <a href="#" ng-click="initiatePrivateChat(message.from)">
                  <img ng-src="{{message.from.img}}" alt="User Avatar" class="img-circle" />
                </a>
                </span>
                <div class="chat-body clearfix">
                  <div class="header">
                    <strong class="primary-font">{{message.from.name}}({{"@"+message.from.handle}})</strong> <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{message.created| date:"MM/dd/yyyy 'at' h:mma"}}</small>
                  </div>
                  <p>
                    {{message.body}}
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="panel-footer chat-footer">
            <form class="thing-form">
              <p class="input-group">
                <input type="text" class="form-control" placeholder="Type your message here..." ng-model="privateMessage[room.with.handle]">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-success" ng-click="sendTo(room.with)">Send</button>
                </span>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
