
<header ng-hide="isLoggedIn()" class="hero-unit" id="banner">
  <div class="container">
    <h1 class="title">Twitter Chat Application</h1>
    <p class="lead">Sign in with your twitter account to get started</p>
    <div>
      <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
        <i class="fa fa-twitter"></i> Connect with Twitter
      </a>
    </div>
  </div>
</header>

<div class="container">
 	
  <div class="row" ng-show="isLoggedIn()" >
    <div class="input-group custom-search-form">
      <input type="text" ng-model="query" placeholder="Type your search here..." class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div><!-- /input-group -->
    <hr>
    
    <div class="row destacados">
		<div class="col-md-4" ng-repeat="user in users | filter:query" ng-if="user.twitter">
    		<div >
				<img ng-src="{{user.twitter.profile_image_url}}" alt="..." class="img-circle img-thumbnail">
				<h2>{{user.name}} </h2>
                 <h4>({{'@' + user.twitter.screen_name}})</h4>
              <p>{{user.twitter.description}}</p>
				<a ng-hide="isMe(user)" ng-href="/private/{{user.twitter.screen_name}}" class="btn btn-primary" title="Enlace">Chat</a>
			</div>
		</div>
  </div>
    


  </div>

</div>

